<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout6</title>
    <link rel="stylesheet" href="Layout6.css">
</head>
<body>
    <div id="k6">
        <header>header</header>
        <nav>nav</nav>
        <section>section
            <article class="a1">article</article>
            <article>article</article>
        </section>
        <aside>aside</aside>
        <footer>footer</footer>
    </div>
</body>
</html>